#footer {
    text-align: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

#footer p {
    font-size: 20px;
}

#link {
    color: white;
}

#link:hover {
    color: rgb(199, 199, 199);
}